<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Cover</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="../../../stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="../../../page_styles.css"/>
</head>
  <body class="calibre">
<div class="pic"><img src="../Images/cover.jpg" class="calibre1"/></div>
<h1 class="calibre2">没有名字的人</h1>
<div class="author"><b class="calibre3">FOXFOXBEE</b> <span class="calibre4">/ 著</span></div>
</body>
</html>
