<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
  <head>
    <title>Intro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="../../../stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="../../../page_styles1.css"/>
</head>
  <body class="calibre5">
<h1 class="head">内容简介</h1><p class="calibre6">　　　　一个叫汪旺旺的少女，因为名字而被人从小笑到大。</p><p class="calibre6">　　十五岁那年，父亲离奇去世，她被一群非人怪物盯上！</p><p class="calibre6">　　更奇怪的是，他们一直在追问她的名字。</p><p class="calibre6">　　亡命奔逃中，七路迷宫、尘封日记、微能力者，一系列“超自然”事件接踵而来……通过父亲的日记，她得知家族血统的历史——原来一切都源自二战时期德国人在西藏寻找到的“神的基因”！</p><p class="calibre6">　　然而想解开最后的真相，还需要一把钥匙，那就是汪旺旺真正的名字。</p><p class="calibre6">　　</p></body>
</html>
